[defaults]
ansible_managed = [ANSIBLE MANAGED] {{{{ template_path }}}} @ {{{{ lookup('pipe', 'git log --format="%%h %%ad %%aL" -1 --date=format:"%%Y/%%m/%%d %%H:%%M" ' + template_fullpath|quote)|default("UNCOMMITED", True) }}}}
inventory = /dev/null
localhost_warning = false

[inventory]
enable_plugins = ini
inventory_unparsed_warning = false
