#
# {{ ansible_managed }}
#
{% set restic_args = restic_args | map('quote') | join(' ') %}
{% set forget_args = forget_args | map('quote') | join(' ') %}
[Unit]
After=network-online.target
Wants=network-online.target
ConditionFileNotEmpty=/root/.ssh/restic_ed25519

[Service]
Environment=HOME=%h
Environment=RESTIC_REPOSITORY=sftp://{{ lookup('file', 'storage-box.txt') }}:23/restic
{% for dir in backup_dirs %}
ExecStart=/usr/local/bin/restic {{ restic_args }} backup --one-file-system --skip-if-unchanged {{ dir|quote }}
{% endfor %}
ExecStart=/usr/local/bin/restic {{ restic_args }} backup --skip-if-unchanged --stdin-filename /glolfwiki-db --stdin-from-command -- docker exec glolfwiki-db-1 mysqldump --add-drop-table --skip-dump-date -h localhost -u wikiuser --password=wikipassword my_wiki
ExecStart=/usr/local/bin/restic {{ restic_args }} backup --skip-if-unchanged --stdin-filename /highlights-db --stdin-from-command -- docker exec highlights-db-1 pg_dump -U highlights -Fc highlights
ExecStart=/usr/local/bin/restic {{ restic_args }} forget {{ forget_args }}
Type=oneshot
